{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Profil{% endblock %}
{% block content %}
{% if logged %}
<div id="Profil" class="page-section">
<div class="container">
        <h2>Profil</h2>
	<div class="jumbotron">
			<p class="lead">Profil created the 8/7/2014</p>
			<h3>Pseudo : </h3>
			<p id="pseudo">rllola 
				<button id="edit_pseudo" type="button" class="btn btn-primary btn-sm" style="float: right;"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
			</p>

			<h3>Mail :</h3>
			<p id="email">rllola80@gmail.com 
				<button id="edit_email" type="button" class="btn btn-primary btn-sm" style="float: right;"><span class="glyphicon glyphicon-pencil"></span> Edit</button></p>
			<h3>Bitmessage :</h3>
			<p id="bitmessage">BM-BcbRqcFFSQUUmXFKsPJgVQPSiFA3Xash
				 <button id="edit_bitmessage" type="button" class="btn btn-primary btn-sm" style="float: right;"><span class="glyphicon glyphicon-pencil"></span> Edit</button></p>
			<h3>Default public key :</h3>
			<p id="publicK">None
				 <button id="edit_publicK" type="button" class="btn btn-primary btn-sm" style="float: right;"><span class="glyphicon glyphicon-pencil"></span> Edit</button></p>
	</div>
</div>
</div>
<script>
$( "#edit_pseudo" ).click(function() {
$( "#pseudo" ).replaceWith( "Form edit username" );
});
$( "#edit_email" ).click(function() {
$( "#email" ).replaceWith( "Form edit mail" );
});
$( "#edit_bitmessage" ).click(function() {
$( "#bitmessage" ).replaceWith( "Form edit bitmessage" );
});
$( "#edit_publicK" ).click(function() {
$( "#publiK" ).replaceWith( "Form edit publicK" );
});
</script>
{% else %}
<div id="Profil" class="page-section">
	<div class="alert alert-warning">You need to be logged to access this page !</div>
</div>
{% endif %}
{% endblock%}
