html, body {
  height: 100%;
}

.header {
  height: 45px;
}

.page-section {
  width: 100%;
  min-height: 800px;
  border-bottom: 10px solid #fff;
}

.message {
  margin-top: 5px;
}

.page-section h1 {
  font-size: 4em;
  margin: 50px 0;
}

.page-section h1 span {
  font-weight: 200;
}
.page-section h2 {
  font-size: 3em;
  font-weight: 900;
  margin: 0 0 30px;
}

.page-section p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 25% 20px 0;
}

.page-section p.lead {
  font-size: 1.8em;
}

.page-section p.caption {
  padding: 20px;
}

#Home.page-section {
  background: url(../img/home.jpg) bottom center no-repeat;
}

.jumbotron {
  background-color : #eee;
}

.edit {
 display: none;
}

.add {
 display : none;
}
 
@media (max-width: 480px) {
	.page-section h1 {
	font-size: 3em;
	}
	.page-section h2 {
	font-size: 2em;
	}
	.page-section p {
	font-size: 1em;
	margin: 0 0 20px;
	}
}

.button-right button {
  float: right;
}


/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


