{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <link href="{% static 'css/flatly.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<!-- Barre de navigation -->
	<div class="navbar navbar-default">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">YABE</a>
	  </div>
	  <div class="navbar-collapse collapse navbar-responsive-collapse">
	    <ul class="nav navbar-nav">
	      <li><a class="{% block home %}{% endblock %}" href="#">Home</a></li>
	      <li class="{% block design %}{% endblock %}"><a href="#">Design</a></li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><a href="#">Action</a></li>
		  <li><a href="#">Another action</a></li>
		  <li><a href="#">Something else here</a></li>
		  <li class="divider"></li>
		  <li class="dropdown-header">Dropdown header</li>
		  <li><a href="#">Separated link</a></li>
		  <li><a href="#">One more separated link</a></li>
		</ul>
	      </li>
	    </ul>
	    <!--<form class="navbar-form navbar-left">
	      <input class="form-control col-lg-8" placeholder="Search" type="text">
	    </form>-->
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#">Log in</a></li>
	      <li><a href="#">Register</a></li>
	    </ul>
	  </div>
	</div>
	<!-- Fin de la barre de navigation -->
  <div class="container">
    <div class="col-md-12">
      <div class="page-header">
      </div>
    </div>
  </div>
  {% block content %}{% endblock %}
  </div>
	<footer style="margin : 0px; display : block;">
	  <div class="well" style="text-align : center; margin-bottom : 0;">
	  Little footer. Design powered by Lola Dam with bootstrap theme.
	  </div>
	</footer>
</body>
</html>
